table{
    border-collapse: collapse 1px solid black;
    margin-bottom: 15px;
}
td{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
 
tr:nth-child(odd) {
    background-color: brown;
}

#text-color{
    color: white;
}