body{
    font-family: helvetica;

}
h1{
   text-align: center; 
   color: red;
}

section h2{
    text-decoration: underline;
    color: green;
 }

 article h2{
    color: blue; 
    text-decoration: underline;
}

h2+p{
    font-style: italic;
    color: red;
 }

h1+p,p{ 
    color: violet;
 }